<h2> {{PokemonsShowCtrl.pokemon.name}} </h2>

	<div class="row">

		<div class="col m5">
			<img ng-src="{{PokemonsShowCtrl.pokemon.image}}" class="img-responsive poke">
		</div>
		<div class="col m7">
			<br>
			<p class="small">Pokedex Number {{PokemonsShowCtrl.pokemon.pokedex}}</p>
			<p class="small">Evolves from {{PokemonsShowCtrl.pokemon.evolves_from}}</p>
      <p> ID number: {{PokemonsShowCtrl.pokemon._id}} </p>
		</div>

    <button type="button" class="btn btn-success" ng-click="PokemonsShowCtrl.deletePokemon(pokemon)"> Delete </button>

	</div>
</div>
