<h2> {{PokemonsShowCtrl.pokemon.name}} </h2>

	<div class="row">
		<form ng-submit="PokemonsShowCtrl.editPokemon(PokemonsShowCtrl.pokemon)">
				<div class="col m5">
					<img ng-hide="editing" ng-src="{{PokemonsShowCtrl.pokemon.image}}" class="img-responsive poke">
		      <input ng-show="editing" type="text" ng-model="PokemonsShowCtrl.pokemon.image">
		    </div>
				<div class="col m7">
					<br>
					<p class="small">Pokedex Number
		        <span ng-hide="editing">{{PokemonsShowCtrl.pokemon.pokedex}}</span>
		        <input ng-show="editing" ng-model="PokemonsShowCtrl.pokemon.pokedex" type="text">
		      </p>
					<p class="small">Evolves from
		        <span ng-hide="editing">{{PokemonsShowCtrl.pokemon.evolves_from}}</span>
		        <input ng-show="editing" ng-model="PokemonsShowCtrl.pokemon.evolves_from" type="text">
		      </p>
		      <p> ID number: {{PokemonsShowCtrl.pokemon._id}} </p>
				</div>

		    <button ng-click="PokemonsShowCtrl.deletePokemon(PokemonsShowCtrl.pokemon)"> Delete </button>
		    <button ng-hide="editing" ng-click="editing = true">Edit Album</button>
		    <button ng-show="editing" ng-click="PokemonsShowCtrl.editPokemon(PokemonsShowCtrl.pokemon); editing = false">Save Changes</button>
			</form>
		</div>
</div>
